<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="../favicon.ico" type="image/x-icon" />
  <title>脚手架-ES2021知识点</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<%- body %>
<script src="./index.min.js" charset="utf-8"></script>
<script src="./lesson-01.js" charset="utf-8"></script>
</body>
</html>
